<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>SwiftUI 的一些初步探索 (一)</title>
 
   
  
    <link rel="icon" type="image/png" href="../static/assets/images/favicon.png" />
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/png">

    <link rel="stylesheet" href="../../static/css/main.css">
    
   

  
</head>


<body>

<span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>

<header class="panel-cover panel-cover--collapsed" style="background-image: url('/assets/images/background-cover.jpg')">
    <div class="panel-main">

        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">

              

                <span class="panel-cover__subtitle panel-subtitle">上善若水，人淡如菊</span>

               
                
            </div>
        </div>


        <div class="panel-cover--overlay cover-red"></div>

    </div>
</header>


<div class="content-wrapper">
    <div class="content-wrapper__inner">
        <article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
          
            <section class="post">
              
                <p>可以试想一下，在 UIKit 中要动手撸一个这个效果的困难程度。我大概可以保证，99% 的开发者很难在不借助文档或者 copy paste 的前提下完成这些事情，但是在 SwiftUI 中简直信手拈来。在创建 <code class="highlighter-rouge">View</code> 之后，用链式调用的方式，可以将 <code class="highlighter-rouge">View</code> 转换为一个含有变更后内容的对象。这么说比较抽象，我们可以来看一个具体的例子。比如简化一下上面的代码：</p>

      
         
		   </section>
        </article>


       


  

    </div>
</div>



</body>

</html>
