<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>完善资料</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  
    <link rel="stylesheet" href="../../static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../static/plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
	<script src="../../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/angular.min.js"></script>
    <script type="text/javascript" src="../../static/js/base.js"></script>
    <script type="text/javascript" src="../../static/js/service/uploadService.js"></script>
    <script type="text/javascript" src="../../static/js/service/indexService.js"></script>
    <script type="text/javascript" src="../../static/js/controller/indexController.js"></script>
    
</head>

<body class="hold-transition skin-red sidebar-mini"  ng-app="myblog" ng-controller="indexController">



            <!-- 正文区域 -->
            <section class="content">

                <div class="box-body">

                    <!--tab页-->
                    <div class="nav-tabs-custom">

                        <!--tab头-->
                        <ul class="nav nav-tabs">
                       		
                            <li class="active">
                                <a href="#home" data-toggle="tab">修改密码</a>                             
                            </li>                            
                        </ul>
                        <!--tab头/-->
						
                        <!--tab内容-->
                        <div class="tab-content">

                            <!--表单内容-->
                            <div class="tab-pane active" id="home">
                                <div class="row data-type">                                  

                                    <div class="col-md-2 title">原密码</div>
                                    <div class="col-md-10 data">
                                        <input type="password" class="form-control"  placeholder="原密码" value="" ng-model="oldPassWord">
                                    </div>
									
									<div class="col-md-2 title">新密码</div>
                                    <div class="col-md-10 data">
                                        <input type="password" class="form-control"  placeholder="新密码" value="" ng-model="newPassWord">
                                    </div>
                                    
                                    <div class="col-md-2 title">确认新密码</div>
                                    <div class="col-md-10 data">
                                        <input type="password" class="form-control"   placeholder="确认新密码" value="" ng-model="newPassWord1">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <!--tab内容/-->
						<!--表单内容/-->
							 
                    </div>
                 	
                 	
                 	
                 	
                   </div>
                  <div class="btn-toolbar list-toolbar">
				      <button class="btn btn-primary" ng-click="update()"><i class="fa fa-save" ></i>保存</button>

				  </div>
			
            </section>
            <!-- 正文区域 /-->
			
       
</body>

</html>