<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>文章</title>
    <script type="text/javascript" src="../static/js/angular.min.js"></script>
    <script src="../static/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/base_pagination.js"></script>
    <script type="text/javascript" src="../static/js/service/indexService.js"></script>
    <script type="text/javascript" src="../static/js/service/uploadService.js"></script>
    <script type="text/javascript" src="../static/js/service/articleService.js"></script>
    <script type="text/javascript" src="../static/js/controller/indexController.js"></script>
    <script src="../static/plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../static/plugins/angularjs/pagination.css">

    <link rel="icon" type="image/png" href="../static/assets/images/favicon.png"/>
    <link href="../static/assets/images/favicon.png" rel="shortcut icon" type="image/png">

    <link rel="stylesheet" href="../static/css/main.css">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">


    <script type="text/javascript">
       $(function () {
           login2()
       })
       function login2() {
           var url = location.search; //获取url中"?"符后的字串
           if (url.indexOf("?") != -1) { //判断是否有参数
               var str = url.substr(1); //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
               strs = str.split("="); //用等号进行分隔 （因为知道只有一个参数 所以直接用等号进分隔 如果有多个参数 要用&号分隔 再用等号进行分隔）

           }
           $.get(
               "/article/findByOne.do",
               {id: strs[1]},
               function(data) {
                   document.getElementById("div1").innerHTML = data.article;
                   document.getElementById("title").innerHTML=data.title;
                   document.getElementById("time").innerHTML=data.time;
               },
               "json"
           );
       }
    </script>
</head>
<body ng-app="myblog" ng-controller="indexController" ng-init='findBy()'>
<input type="hidden" id="tex" ng-model="id">
<span class="mobile btn-mobile-menu" ng-app="myblog" ng-controller="indexController">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>

<header class="panel-cover panel-cover--collapsed" style="background-image: url('//{{user.background}}')">
    <div class="panel-main">

        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">

                <a href="/#blog" title="前往 OneV's Den 的主页" class="blog-button"><img src="//{{user.image}}"
                                                                                    width="80" alt="OneV's Den logo"
                                                                                    class="panel-cover__logo logo"/></a>
                <h1 class="panel-cover__title panel-title"><a href="#blog" title="link to homepage for OneV's Den"
                                                              class="blog-button">{{user.name}}</a></h1>


                <span class="panel-cover__subtitle panel-subtitle">{{user.title}}</span>

                <hr class="panel-cover__divider"/>
                <p class="panel-cover__description">{{user.motto}}</p>
                <hr class="panel-cover__divider panel-cover__divider--secondary"/>





                <div class="navigation-wrapper">
                    <div>
                        <nav class="cover-navigation cover-navigation--primary">
                            <ul class="navigation">
                                <li class="navigation__item"><a href="#" title="访问博客" class="blog-button">博客</a></li>

                                <li class="navigation__item"><a href="//onev.cat" target="_blank" title="我的简历">简历</a>
                                </li>

                                <li class="navigation__item"><a href="/apps" target="_blank" title="我所使用的 app 们">工具</a>
                                </li>

                                <li class="navigation__item"><a href="//objccn.io/subscribe" target="_blank"
                                                                title="邮件订阅本站">订阅</a></li>

                            </ul>
                        </nav>
                    </div>

                    <div>
                        <nav class="cover-navigation navigation--social">
                            <ul class="navigation">


                                <!-- Weibo -->
                                <li class="navigation__item">
                                    <a href="http://weibo.com/onevcat" title="@onevcat 的微博" target="_blank">
                                        <i class='social fa fa-weibo'></i>
                                        <span class="label">Weibo</span>
                                    </a>
                                </li>


                                <!-- Github -->
                                <li class="navigation__item">
                                    <a href="https://github.com/onevcat" title="@onevcat 的 Github" target="_blank">
                                        <i class='social fa fa-github'></i>
                                        <span class="label">Github</span>
                                    </a>
                                </li>


                                <!-- Twitter -->
                                <li class="navigation__item">
                                    <a href="http://twitter.com/onevcat" title="@onevcat" target="_blank">
                                        <i class='social fa fa-twitter'></i>
                                        <span class="label">Twitter</span>
                                    </a>
                                </li>


                                <!-- Google Plus -->
                                <li class="navigation__item">
                                    <a href="https://plus.google.com/107108267983477358170" rel="author" title="Google+"
                                       target="_blank">
                                        <i class='social fa fa-google-plus-square'></i>
                                        <span class="label">Google Plus</span>
                                    </a>
                                </li>


                                <!-- RSS -->
                                <li class="navigation__item">
                                    <a href="/feed.xml" rel="author" title="RSS" target="_blank">
                                        <i class='social fa fa-rss'></i>
                                        <span class="label">RSS</span>
                                    </a>
                                </li>


                                <!-- Email -->
                                <li class="navigation__item">
                                    <a href="mailto:onev@onevcat.com" title="Contact me">
                                        <i class='social fa fa-envelope'></i>
                                        <span class="label">Email</span>
                                    </a>
                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-cover--overlay cover-red"></div>

    </div>
</header>


<div class="content-wrapper">
    <div class="content-wrapper__inner">
            <header class="post-header">
                <div class="post-meta">
                    <time datetime="2019-06-11 12:32:00 +0900" itemprop="datePublished" class="post-meta__date date" id="time"></time> &#8226; <span class="post-meta__tags tags">能工巧匠集</span>
                </div>
                <h1 class="post-title" id="title"></h1>
            </header>
        <div style="white-space: pre" id="div1">
            <section class="post">





            </section>
        </div>

    </div>
</div>



</body>

</html>
